
<br>
<div class="row">
	<div class="panel">
		<h3> Lo sentimos, el código ingresado no es valido, favor de ingresar un código valido.</h3>
		<%= link_to 'Regresar', codigos_path,  :class => "button button-primary middle" %>
	</div>
</div>