<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mywa</title>
   <link href='http://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
<nav data-layout-element="navigation">
    <section>
        <a href="/" class="brand">
            
            <img src="<%= asset_path 'mywa_gris.png' %>" height="200" width="140">
        </a>
        <a class="fixed-trial-button" href="/subscribe/plans?trial=yes">Free trial</a>
      <div id="mobile-nav-toggle">
        <a href="#" id="nav-toggle" data-nav-toggle="">
          <span class="hamburger"></span>
        </a>
      </div>
      <ul class="nav-list">
            <li class="nav-item nav-item-home ">
              <a class="nav-anchor" href="/"></a>
            </li>
            <li class="nav-item nav-item nav-item-free-trial">
              <a class="button button-primary small" href="/tarjetas">Mis tarjetas</a>
            </li>
            <li class="nav-item nav-item">
              <img src="<%= current_user.image %>" class="student-card-avatar">
            </li>
            <% if user_signed_in? %>
               <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'plan button button-info small'  %>
            <% end %>
        <body>

      </ul>
    </section>
  </nav>

        <!-- Page Content -->
<section class="page-container">
  <br>
  <br>
  <br>
  <br>
  <br>


 